# FIXME: AT added temporarily to workaround https://codeberg.org/stonecutter/fletching-table/issues/9
public net.minecraft.client.multiplayer.ClientPacketListener
public net.minecraft.client.multiplayer.ClientPacketListener setClientLoaded(Z)V
