name: Build

on:
  push:
  pull_request:

# Only allow running one build per branch at a time to optimise cache hits
concurrency:
  group: builds-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  prepare:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      versions: ${{ steps.versions.outputs.result }}

    steps:
      - name: Checkout versions file
        uses: actions/checkout@v6
        with:
          sparse-checkout: stonecutter.versions.toml
          sparse-checkout-cone-mode: false

      - name: Generate versions matrix
        id: versions
        uses: mikefarah/yq@v4
        with:
          cmd: |
            yq --output-format=json --indent=0 '
              to_entries | map({
                "minecraft": .key,
                "projects": .value.projects
              })
            ' stonecutter.versions.toml

  build:
    name: Build (${{ matrix.minecraft }})
    runs-on: ubuntu-latest

    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.prepare.outputs.versions) }}
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@v6

      # Install Java used by the Gradle wrapper.
      # The JVM used to build is installed separately by the foojay resolver.
      - uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v5

      - name: Build for MC ${{ matrix.minecraft }}
        env:
          minecraft: ${{ matrix.minecraft }}
          projects: ${{ toJSON(matrix.projects) }}
        run: |
          # Build each :project:version:build task
          mapfile -t tasks < <(
            echo "$projects" | jq --raw-output --arg mc "$minecraft" '.[] | ":\(.):\($mc):build"'
          )
          ./gradlew "${tasks[@]}"

      # Find the jar files to upload
      - name: Get jar files
        env:
          projects: ${{ toJSON(matrix.projects) }}
          minecraft: ${{ matrix.minecraft }}
        run: |
          shopt -s nullglob
          echo "$projects" | jq --raw-output '.[]' | while read proj; do
            # Find the main jar
            jar_paths=("$proj/versions/$minecraft/build/libs/freecam-$proj-"*"+mc$minecraft.jar")
            if (( ${#jar_paths[@]} < 1 )); then
              echo "Warning: no jar found for $proj $minecraft" >&2
              continue
            elif (( ${#jar_paths[@]} > 1 )); then
              echo "Warning: multiple jars found for $proj $minecraft" >&2
            fi
            jar_path="${jar_paths[0]}"
            # Export an env var per project
            echo "${proj}_jar_name=$(basename "$jar_path")" >> $GITHUB_ENV
            echo "${proj}_jar_path=$jar_path" >> $GITHUB_ENV
          done

        # Upload separately, or they'll be zipped together
      - name: Upload Fabric build
        if: contains(matrix.projects, 'fabric')
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.fabric_jar_name }}
          path: ${{ env.fabric_jar_path }}
          retention-days: 90
          if-no-files-found: error

      - name: Upload Neoforge build
        if: contains(matrix.projects, 'neoforge')
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.neoforge_jar_name }}
          path: ${{ env.neoforge_jar_path }}
          retention-days: 90
          if-no-files-found: error

      - name: Upload Forge build
        if: contains(matrix.projects, 'forge')
        uses: actions/upload-artifact@v6
        with:
          name: ${{ env.forge_jar_name }}
          path: ${{ env.forge_jar_path }}
          retention-days: 90
          if-no-files-found: error

